* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.App {
  background-color: #fafafa;
}

header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2px 50px;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

.navigation .navBtn {
  margin-left: 10px;
}

.logo {
  height: 80px;
  object-fit: contain;
  margin-top: 5px;
  cursor: pointer;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  background: #fff;
  margin-top: -90px;
}

.banner .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .content .info {
  width: 40%;
}

.banner .content .info h2 {
  font-size: 30px;
  text-transform: uppercase;
}

.banner .content .info p{
  margin-top: 20px;
  margin-bottom: 20px;
}

.banner img {
  height: 400px;
  object-fit: contain;
  width: 50%;
}

@media (max-width: 776px) {
  header {
    padding: 0 20px;
  }
  .logo {
    height: 50px;
  }
  .navigation .navBtn {
    font-size: 8px;
  }
  .banner {
    margin-top: -90px;
  }
  .banner .content {
    flex-direction: column-reverse;
  }
  .banner .content .info {
    width: 90%;
    padding: 10px;
    margin-top: -50px;
    z-index: 1;
  }
  .banner .content .info h2 {
    font-size: 20px;
  }
}

.login-form {
  height: 40vh;
}

.signup-form {
  height: 55vh;
}

.post-form {
  height: 35vh;
}

.progress-bar {
  margin-left: 35px;
}

.post-form .btn-container {
  margin-top: 3vh;
  margin-left: 30%;
}

.post-form .btn-container .btn-2 {
  margin-left: 6px;
}

center {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

form .form-group {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

form .form-group label {
  font-size: 15px;
  margin-bottom: 10px;
}

form .form-group input {
  padding: 10px;
  border: 1px solid #191919;
}

form .btn {
  font-size: 10px;
  position: absolute;
  right: 60px;
  bottom: 50px;
}

.signup-form .btn {
  margin-top: 20px;
}

@media (max-width: 776px) {
  form .form-group {
    margin: 5px;
    margin-top: 20px;
  }
}

.home {
  background: #FAFAFA;
}

.home-header {
  position: fixed;
  top: 0;
  background: #fff;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  height: 12vh;
  width: 100%;
}

.home-header-left {
  display: flex;
  width: 150px;
  justify-content: space-around;
  align-items: center;
  margin-right: 20px;
}

.home-header-left .add-post-btn {
  border: 1px solid salmon;
  padding: 3px 10px;
  background: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
}

.home-header-left .add-post-btn:hover {
  border: none;
  background: salmon;
  color: #fff;
}

.home-header .logo {
  height: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 776px) {
  .home-header .logo {
    height: 50px;
    margin-bottom: 20px;
  }
  .home-header-left {
    margin-right: 5px;
  }
}


.home-navigation {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  top: 12vh;
  right: 0;
  height: 150px;
  width: 200px;
  box-shadow: 0px 146px 301px rgba(0, 0, 0, 0.00627293), 0px 70.0611px 161.499px rgba(0, 0, 0, 0.01003), 0px 50.2001px 115.641px rgba(0, 0, 0, 0.0129306), 0px 36.9442px 86.8083px rgba(0, 0, 0, 0.016152), 0px 25.2423px 61.0519px rgba(0, 0, 0, 0.0214916), 0px 13.2337px 33.0022px rgba(0, 0, 0, 0.04);
}

.invisible {
  display: none;
}

.home-posts {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10vh;
}

.post-container {
  max-width: 500px;
  background-color: #fff;
  border-radius: 3px;
  margin-bottom: 20px;
  box-shadow: 0px 146px 301px rgba(0, 0, 0, 0.00627293), 0px 70.0611px 161.499px rgba(0, 0, 0, 0.01003), 0px 50.2001px 115.641px rgba(0, 0, 0, 0.0129306), 0px 36.9442px 86.8083px rgba(0, 0, 0, 0.016152), 0px 25.2423px 61.0519px rgba(0, 0, 0, 0.0214916), 0px 13.2337px 33.0022px rgba(0, 0, 0, 0.04);
}

.post-header {
  display: flex;
  align-items: flex-start;
  padding: 15px; 
}

.post-header h4 {
  color: #4d4d4d;
  text-transform: lowercase;
}

.post-avatar {
  margin-right: 8px;
}

.post-text {
  font-weight: normal;
  margin-left: 60px;
  margin-top: -20px;
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 14px;
}

.post-text strong {
  margin-right: 8px;
}

.profile-section {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  margin-top: 15vh;
  width: 100%;
  overflow-x: hidden;
}

.profile-header-section {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.profile-header-section .user-details {
  display: flex;
  /* width: 18%; */
  justify-content: space-around;
}

.profile-header-section .user-details .profile-name {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #4d4d4d;
  margin-top: 8px;
}

.profile-post-section {
  margin: 20px auto;
}

.bucket-list-main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #FFF;
  height: 100vh;
  z-index: 1;
  transition: 0.5s ease;
}

.bucket-list-hide {
  transform: translateX(120%);
}

.bucket-list-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: -90px;
}

.bucket-list-container img {
  height: 300px;
  object-fit: contain;
}

.bucket-list {
  min-width: 30%;
  list-style: none; 
}

.bucket-list .list-item {
  margin: 0.5rem;
  color: black;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
  background: #FAFAFA;
  box-shadow: 0px 146px 301px rgba(0, 0, 0, 0.00627293), 0px 70.0611px 161.499px rgba(0, 0, 0, 0.01003), 0px 50.2001px 115.641px rgba(0, 0, 0, 0.0129306), 0px 36.9442px 86.8083px rgba(0, 0, 0, 0.016152), 0px 25.2423px 61.0519px rgba(0, 0, 0, 0.0214916), 0px 13.2337px 33.0022px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
}

.bucket-list .list-item li {
  flex: 1;
  padding: 0rem 0.5rem;
}

.bucket-list .list-item .done-btn {
  background:rgb(72, 133, 72);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin: 2px;
}

.list-completed{
  text-decoration: line-through;
  opacity: 0.5;
}

.bucket-form {
  height: 35vh;
}

.bucket-form .btn-container {
  margin-top: 3vh;
  margin-left: 30%;
}

.bucket-form .btn-container .btn-2 {
  margin-left: 6px;
}

center {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

form .bucket-input {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

form .bucket-input input {
  padding: 10px;
  background: #FAFAFA;
  box-shadow: 0px 146px 301px rgba(0, 0, 0, 0.00627293), 0px 70.0611px 161.499px rgba(0, 0, 0, 0.01003), 0px 50.2001px 115.641px rgba(0, 0, 0, 0.0129306), 0px 36.9442px 86.8083px rgba(0, 0, 0, 0.016152), 0px 25.2423px 61.0519px rgba(0, 0, 0, 0.0214916), 0px 13.2337px 33.0022px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: 0.5px solid #b8b8b8;
  padding: 10px;
}

form .btn {
  font-size: 10px;
  position: absolute;
  right: 60px;
  bottom: 50px;
}

@media (max-width: 776px) {
  form .bucket-input {
    margin: 5px;
    margin-top: 20px;
  }
}


@media (max-width: 776px) {
  .profile-header-section {
    width: 100%;
    margin-right: 20px;
  }
  .profile-header-section .user-details {
    flex-direction: column;
  }
  .profile-header-section .profile-btn-container {
    position: absolute;
    margin-top: -40px;
  }
  .profile-header-section .user-details .profile-name {
    font-size: 0.9em;
    margin-top: -15px;
  }
  .profile-post-section {
    margin: 0;
  }
}
